
       
    <div  style="border-color:rgb(46, 73, 161);" class="col-md-8 col-lg-7 mx-auto float-none white z-depth-1 py-2 px-2" style="margin-top: 3em;">
        <div style="border-color: #0c2fc9;"  class="card-body">
    
            <div class="card-header" style="background-color: rgb(255, 255, 255) ;  font: 600;color:rgb(46, 73, 161);border-color: rgb(46, 73, 161); font-size: 23px ; ">Bonjour {{cl.prenom }} {{cl.nom}} 
                  </div>
            <div class="card-header " style="background-color: rgb(255, 255, 255);border-color: rgb(46, 73, 161); border-bottom: 1cm; ">
    
                <p *ngIf="response===1" class="card-text" style="font-size: 20px; text-align: center;" >Votre Certificat de Vaccination est disponible  </p>
                <div *ngIf="response===1" style="text-align: center;"> <span style=" font-size: 100px; color: green;" class="material-icons">
                    check_circle_outline
                    </span></div>
                <p *ngIf="response===1" class="card-text" style="font-size: 20px; text-align: center;" >vous povez le récuperer en cliquant sur le bouton demander  </p>
                <p *ngIf="response===0" class="card-text" style="font-size: 20px; text-align: center;" >Votre Certificat de Vaccination n'est pas disponible  </p>
               <div *ngIf="response===0" style="text-align: center;">
                <span style=" font-size: 100px; color: red;" class="material-icons">
                    error_outline
                    </span></div>
                <p *ngIf="response===0" class="card-text" style="font-size: 20px;text-align: center;" >vous devez d'abord terminer votre vaccination pour le récuperer   </p>
                
                <p *ngIf="response===2" class="card-text" style="font-size: 20px; text-align: center;" >Vous avez déja demandé votre Certificat de Vaccination </p>
                <div *ngIf="response===2" style="text-align: center;">
                 <span style=" font-size: 100px; color: red;" class="material-icons">
                     error_outline
                     </span></div>
                 <p *ngIf="response===2" class="card-text" style="font-size: 20px;text-align: center;" >veuillez consulter votre email pour le récupérer   </p>
                 
            </div>
        </div>
        <button *ngIf="response===1" mdbBtn type="button" style="background-color: rgb(46, 73, 161);color: rgb(255, 255, 255); font-size:15px ; margin-left:42% "  size="sm" (click)='Ondemander();' class="waves-light"
        mdbWavesEffect>demander</button>
    </div>
    <hr />
