.h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #1262cc;
    font-style: italic ;
    margin-top: 1cm;
    
}

.btn {

background-color: #9bc3f1;


}

.table {

  margin-top: 2cm;
    
    
    }
    .t{

 font-weight: bold;

    }