.bt {

     margin-left: 37%;
}

.h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: #1262cc;
    font-style: italic
}

.ee {
   
    
    background-color:  #1d5eb3;
  
}

.container{

padding-top: 2%;

}

.edge-header{

    height: 3cm;
    
    }