
<div  class="card text-white bg-info mb-3" style="max-width: 60rem; margin-left: 10em; margin-top: 3em;">
    <div class="card-header" style=" font-size: 30px ; ">IMPORTANCE ET MODE D'ACTION </div>
    <div class="card-body">
      
      <p class="card-text"> La vaccination permet de sauver des millions de vies. Son mode d’action consiste à stimuler et à préparer le système immunitaire à reconnaître et à lutter contre les virus qu’ils ciblent . Ainsi , face à une exposition ultérieure au même agent pathogène, l’organisme est prêt à le détruire, ce qui permet de prévenir la maladie . </p>
      <p class="card-text"> Etant une intervention de santé publique par excellence, la vaccination a démontré sa pertinence dans la réduction des décès et de Handicaps engendrés par plusieurs maladies infectieuses telles la diphtérie, le tétanos, la poliomyélite, la coqueluche , la rougeole... </p>
      <p>La vaccination contre le virus de la COVID-19 représente une opportunité pour assurer une protection individuelle et collective/communautaire. Ce vaccin provoque une protection spécifique contre le virus SARS-CoV2, responsable de la COVID-19 en permettant, au système immunitaire, de mémoriser le premier contact avec l’antigène utilisé. Au contact ultérieur avec le virus, la rapidité de la reconnaissance et l’intensité de la réponse immune spécifique permettront d’éviter l’infection ou ses complications. Se faire vacciner est un moyen de se protéger et également de protéger son entourage . </p>
    </div>
  </div>
  
  <div class="card bg-light mb-3" style="max-width: 60rem; margin-left: 2em;">
    <div class="card-header" style=" font-size: 30px ; ">POPULATION CIBLE </div>
    <div class="card-body">
      <p class="card-text">La campagne de vaccination contre le virus de la COVID-19 cible les citoyens âgés de plus de 17 ans, selon un schéma vaccinal en deux injections. Cette population cible est estimée à 25 000 000. </p>
    </div>
  </div>
  
  
  
  <div class="card text-white bg-info mb-3"style="max-width: 60rem ; margin-left: 10em;  ">
    <div class="card-header" style=" font-size: 30px ; ">LIEUX DE VACCINATION</div>
    <div class="card-body">
     
      <p class="card-text"> L’opération de vaccination sera effectuée au niveau de tous les Etablissements de Soins de Santé Primaires. </p>
      <p> Pour des considérations liées à la taille de la population, au respect de la distanciation physique et à la nécessité de maintenir la continuité des soins et services des programmes de santé, des Stations de Vaccination (SV) seront créées, en collaboration avec les autorités locales, au niveau des centres de santé ou à leur proximité, en fonction de la superficie du ces structures .</p>
      <p> La stratégie vaccinale sera déployée par ces SV selon deux modes : </p>
       <p>   Un mode fixe où la population se déplace vers la SV .</p>
        <p>  Un mode mobile dans lequel des équipes de vaccination rattachées à la station, se mobilisent vers des points mobiles de vaccination. 
       Ces points mobiles de vaccination sont : Les hôpitaux, les universités, les instituts de formation, les internats et les cités universitaires, les usines, les entreprises à plus de 50 employés, les administrations, les communes à plus de 50 employés, les prisons, les maisons de bienfaisance, les points de rassemblement pour les populations enclavées .</p>
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 60rem;  margin-left: 2em;">
    <div class="card-header" style=" font-size: 30px ; ">LES ETAPES DE VACCINATION</div>
    <div class="card-body">
    
      <p class="card-text"> Le citoyen doit prendre un rendez-vous pour la première dose , le jour de son RDV il doit se présenter au lieu da la vaccination .</p>
     
      <p class="card-text"> Le citoyen a le droit de prendre un rendez-vous pour la 2ème  dose en respectant l’intervalle minimal entre les deux injections ...</p>
      <p class="card-text"> Le jour de son RDV, le citoyen se présente au lieu de la vaccination. Après un interrogatoire sur son état de santé et les éventuels effets indésirables ressentis après la 1ère dose, la 2ème dose lui sera administrée. </p>
      <p>La personne est considérée à ce moment-là, complètement vaccinée. En cas de besoin, elle pourrait télécharger son certificat de vaccination  .</p>
    </div>
  </div>
  
  
  
  